<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DBConnectionMS" connectionString="data source=(localdb)\MSSQLLocalDB;Initial Catalog=bankdb;Integrated Security=True;" providerName="System.Data.SqlClient"/>
		<add name="DBConnectionPSQL" connectionString="Host=localhost;Port=5432;Database=bank-db;Username=postgres;Password=root;" providerName="Npgsql" />
	</connectionStrings>
</configuration>